<ion-view view-title="Update Chore" cache-view="false">
    <ion-content>
        <form role="form" ng-submit="update(choreForm)" name="choreForm" novalidate>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Title</span>
                    <input type="text" ng-model="chore.title" placeholder="Title">
                </label>
                <div class="item item-icon-left topless assertive" ng-repeat="error in errors.title">
                    <i class="icon ion-alert-circled"></i>
                    <span>{{error}}</span>
                </div>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Description</span>
                    <textarea ng-model="chore.description" placeholder="Description"></textarea>
                </label>
                <div class="item item-icon-left topless assertive" ng-repeat="error in errors.description">
                    <i class="icon ion-alert-circled"></i>
                    <span>{{error}}</span>
                </div>
                <div class="item item-icon-left topless assertive" ng-repeat="error in errors.non_field_errors">
                    <i class="icon ion-alert-circled"></i>
                    <span>{{error}}</span>
                </div>
                <div class="item item-icon-left topless assertive" ng-if="error">
                    <i class="icon ion-alert-circled"></i>
                    <span>{{error}}</span>
                </div>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Update</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
